[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "nvim/pack/plugins/start/vim-airline-themes"]
	path = nvim/pack/plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "nvim/pack/plugins/start/vim-airline"]
	path = nvim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/plugins/start/nvim-treesitter"]
	path = nvim/pack/plugins/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "vim/pack/plugins/start/nvim-lspconfig"]
	path = nvim/pack/plugins/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "vim/pack/plugins/start/nvim-treesitter-refactor"]
	path = nvim/pack/plugins/start/nvim-treesitter-refactor
	url = https://github.com/nvim-treesitter/nvim-treesitter-refactor.git
[submodule "vim/pack/plugins/start/python-language-server"]
	path = nvim/pack/plugins/start/python-language-server
	url = https://github.com/palantir/python-language-server.git
[submodule "vim/pack/plugins/start/cmake-language-server"]
	path = nvim/pack/plugins/start/cmake-language-server
	url = https://github.com/regen100/cmake-language-server.git
[submodule "nvim/pack/plugins/start/nvim-treesitter-context"]
	path = nvim/pack/plugins/start/nvim-treesitter-context
	url = https://github.com/romgrk/nvim-treesitter-context.git
[submodule "nvim/pack/plugins/start/nvim-ts-rainbow"]
	path = nvim/pack/plugins/start/nvim-ts-rainbow
	url = https://github.com/p00f/nvim-ts-rainbow.git
[submodule "nvim/pack/plugins/start/playground"]
	path = nvim/pack/plugins/start/playground
	url = https://github.com/nvim-treesitter/playground.git
[submodule "nvim/pack/plugins/start/nvim-compe"]
	path = nvim/pack/plugins/start/nvim-compe
	url = https://github.com/hrsh7th/nvim-compe.git
[submodule "nvim/pack/plugins/start/nvim-treesiter-textobjects"]
	path = nvim/pack/plugins/start/nvim-treesiter-textobjects
	url = https://github.com/nvim-treesitter/nvim-treesitter-textobjects.git
[submodule "nvim/pack/plugins/start/lualine.nvim"]
	path = nvim/pack/plugins/start/lualine.nvim
	url = https://github.com/hoob3rt/lualine.nvim.git
[submodule "nvim/pack/plugins/start/nvim-web-devicons"]
	path = nvim/pack/plugins/start/nvim-web-devicons
	url = https://github.com/kyazdani42/nvim-web-devicons.git
[submodule "nvim/pack/plugins/start/telescope.nvim"]
	path = nvim/pack/plugins/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "nvim/pack/plugins/start/plenary.nvim"]
	path = nvim/pack/plugins/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "nvim/pack/plugins/start/popup.nvim"]
	path = nvim/pack/plugins/start/popup.nvim
	url = https://github.com/nvim-lua/popup.nvim.git
[submodule "nvim/pack/plugins/start/hop.nvim"]
	path = nvim/pack/plugins/start/hop.nvim
	url = https://github.com/phaazon/hop.nvim.git
[submodule "nvim/pack/plugins/start/nvim-peekup"]
	path = nvim/pack/plugins/start/nvim-peekup
	url = https://github.com/gennaro-tedesco/nvim-peekup.git
[submodule "nvim/pack/plugins/start/barbar.nvim"]
	path = nvim/pack/plugins/start/barbar.nvim
	url = https://github.com/romgrk/barbar.nvim.git
